<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rain</title>
        <link rel="icon" href="static/images/rain_48.ico" type="image/x-icon">
        <link rel="shortcut icon" href="static/images/rain_48.ico" type="image/x-icon">
        <style type="text/css">
            a {
                text-decoration: none
            }
        </style>
        <script type="text/javascript" src="https://www.echartsjs.com/dist/echarts.min.js"></script>
        <script type="text/javascript" src="static/overview_usage.js"></script>
        <script type="text/javascript" src="static/detail.js"></script>
        <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
        <div style="width: 1500px; margin: 0 auto;" class="title">
            <h2>
                <a href="https://github.com/SuPerCxyz/rain" target="_blank">
                    <img src="static/images/Rain.png" alt="Rain logo" width="50"/>
                </a>
                <span style="font-family:Arial, Helvetica, sans-serif; color: #89cbf4; font-size: 40px">&nbsp; Rain: simple linux monitoring platform</sub></span>
            </h2>
        </div>
        <div style="width: 1500px; margin: 0 auto" class="sysoverview" id="sysoverview">
            <p style="margin: 0 auto 5px; font-family:Arial, Helvetica, sans-serif; font-size: 30px; box-shadow:0px 0px 10px #ccc; border-radius:5px">System overview</p>
            <div style="width: 1500px; margin: 0 auto" id="sysoverview1">
                <script>
                    sysoverview()
                </script>
            </div>
        </div>
        <div style="clear: both;">
            <br>
        </div>
        <div style="width: 1500px; margin: 0 auto; box-shadow:0px 0px 10px #ccc; border-radius:5px" class="cpu_detail" id="cpu_detail">
            <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">CPU</p>
            <script>
                cpu_detail()
            </script>
        </div>
        <div style="clear: both;">
            <br>
        </div>
        <div style="width: 1500px; margin: 0 auto; box-shadow:0px 0px 10px #ccc; border-radius:5px" class="mem_detail" id="mem_detail">
            <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">Memcache</p>
            <script>
                mem_detail()
            </script>
        </div>
        <div style="clear: both;">
            <br>
        </div>
    </body>
</html>